<%= info.name %>
<div class="progress progress-striped">
    <div id='bar_<%= info.name %>_success' class="bar bar-success" style="width: 100%;"></div>
    <div id='bar_<%= info.name %>_danger' class="bar bar-danger" style="width: 0%;"></div>
</div>
